// === Fonts
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

$Lexend-deca: "Lexend Deca";
$Big-Shoulders-Display: "Big Shoulders Display";

// === Colors ===
$bright-orange: hsl(31, 77%, 53%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$transparant-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);

// Meidia Queries
$Desktop: 1240px;
$Tablet: 768px;
$Mobile: 450px;

@mixin btnColor($property, $value) {
  #{$property}: $value;
}

body {
  font-family: $Lexend-deca;
  font-weight: 400;
  background: $very-light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 825px;
  width: 100%;
  // border-radius: 5px;
  .colomn {
    padding: 2.5rem;
    color: $transparant-white;
  }
  h2 {
    font-family: $Big-Shoulders-Display;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: $very-light-gray;
  }
  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;
  }
  button {
    background-color: $very-light-gray;
    border: none;
    font-size: 0.855em;
    margin-top: 3rem;
    padding: 1em 2em;
    border-radius: 25px;
  }
  .first__colomn {
    background: $bright-orange;
    border-radius: 5px 0 0 5px;
    button {
      @include btnColor(color, $bright-orange);
    }
  }
  .second__colomn {
    background: $dark-cyan;
    button {
      @include btnColor(color, $dark-cyan);
    }
  }
  .third__colomn {
    background: $very-dark-cyan;
    border-radius: 0 5px 5px 0;
    button {
      @include btnColor(color, $very-dark-cyan);
    }
  }
}

@media screen and (max-width: $Mobile) {
  .container {
    grid-template-columns: 1fr;
  }
}
